.header{
  border: 2px solid red;
    height: 65px;
    display: flex;
    background-color: #e91e63;
    color: white;
}

.logo{
  width: 20%;
}

.menus{
  width: 80%;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}

.logo-img{
  width: 38%;
  margin-left: 25px;
  margin-top: 6px;
}

.lable{
  display: inline-block;
  width: 18%;
}

.space{
  margin-bottom: 10px;
}