.header{
  border: 2px solid red;
    height: 65px;
    display: flex;
    background-color: #e91e63;
    color: white;
}

.logo{
  width: 20%;
}

.menus{
  width: 80%;
  display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}

.logo-img{
  width: 38%;
  margin-left: 25px;
  margin-top: 6px;
}

.lable{
  display: inline-block;
  width: 18%;
}

.space{
  margin-bottom: 10px;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e91e63;
  color: white;
}

.circle-image{
  border-radius: 70px;
  width: 100px;
  height: 100px;
}