.heading{
  color: rgb(19, 0, 227);
  background-color: rgb(207, 207, 207);
  /* This property is used to aligin the text in horizontal direction */
  text-align: center; 
  /* text-decoration-line: underline;
  text-decoration-color: rgb(255, 0, 200);
  text-decoration-style: solid;
  text-decoration-thickness: 3px; */
  text-decoration: underline red solid 3px;
  text-transform: uppercase;
  font-size: 50px;
  /* font-family: fantasy; */
  font-family: 'Dancing Script', cursive;
}

.sub-heading{
  text-indent: 200px;
  letter-spacing: 5px;
  line-height: 2.5;
  word-spacing: 10px;
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
}

.box-1{
  height: 200px;
  background-color: blueviolet;
  width: 500px;
}

.box-2{
  height: 25vh;
  width: 50vw;
  background-color: rgb(0, 253, 169);
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.border{
  border-style: solid;
  border-width: 2px;
  /* border-color: blue; */
  border-left-color: blue;
  border-right-color: brown;
  border-top-color: rebeccapurple;
  border-bottom-color: chartreuse;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.short-border{
  border: 3px solid red;
  padding: 10px;
  margin: 25px;
}

.container-1{
  height: 150px;
  width: 400px;
  border: 3px solid;
  overflow: auto;
}

.text{
  color: rebeccapurple;
  font-size: 26px;
}

.flex-container{
  height: 250px;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.small-box{
  width: 200px;
  height: 100px;
  border: 3px solid;
} 

.flex-item-align{
  align-self: flex-start;
}

.bgcolor{
  background-color: blanchedalmond;
}

/* min-width - Starting Resolution
   max-width - Ending Resolution 
*/
@media only screen and (min-width: 0px) and (max-width: 480px) { 
  .bgcolor{
    background-color:aquamarine;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .bgcolor{
    background-color:cornflowerblue
  }
}

/* 
Common Media Query Breakpoint
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/