.main-layout{
  height: 98vh;
  /* border: 2px solid red; */
  box-sizing: border-box;
}

.root{
  margin: 0px;
}

.container-1{
  height: 35%;
  border: 2px solid red;
  margin: 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.container-2{
  height: 23%;
  border: 2px solid red;
  margin: 10px;
}

.container-3{
  height: 35%;
  border: 2px solid red;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.big-image{
  border: 3px solid blue;
  width: 25%;
}

.content{
  border: 3px solid blue;
  width: 75%;
}

.heading-content{
  border: 3px solid green;
  height: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.text-content{
  border: 3px solid green;
  height: 60%;
  box-sizing: border-box;
}

.circle-image{
  border: 3px solid red;
  width: 10%;
}

.heading-text{
  border: 3px solid red;
  width: 75%;
}

.date{
  border: 3px solid red;
  width: 15%;
}

.head-content{
  border: 3px solid rgb(0, 255, 183);
  height: 50%;
  box-sizing: border-box;
}

.sub-heading{
  border: 3px solid rgb(0, 255, 183);ed;
  height: 50%;
  box-sizing: border-box;
}

.box{
  border: 3px solid black;
  width: 30%;
  box-sizing: border-box;
}

.box-image{
  border: 3px solid red;
  height: 60%;
  box-sizing: border-box;
}

.box-heading{
  border: 3px solid red;
  height: 20%;
  box-sizing: border-box;
}

.box-sub-heading{
  border: 3px solid red;
  height: 20%;
  box-sizing: border-box;
}